<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>Anotte - Horizontal Photography HTML Template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by CocoBasic" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="CocoBasic" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="images/favicon.ico" />    
        <link href='http://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800%7CPlayfair%20Display:700%7CPT%20Serif:400i' rel='stylesheet' type='text/css'>		
        <link rel="stylesheet" type="text/css"  href='/css/index.css' />

        <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>            
                <script src="js/respond.min.js"></script>                   
        <![endif]-->         
    </head>

    <body class="page-template-split">

        <div class="site-wrapper">                  
            <div class="doc-loader"></div>  

            <!-- Left Part Sidebar -->
            <div class="menu-left-part">               

                <nav id="header-main-menu">
                    <ul class="main-menu sm sm-clean">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/team" class="has-submenu">Our Team</a>
                            
                        </li>
                        <li>
                            <a href="/features">Features</a>
                        </li>
                        <li>
                            <a href="/login">Sign In/Up</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                    
                </nav>     

                <div class="menu-right-text">
                    <p class="menu-text-title">Introducing</p>
                    <div class="menu-text">
                        KEYVAULTX <br>Know about <a href="about.html">us</a> or you can <a href="contact.html">contact us</a>
                    </div>
                    <br>
                    <br>
                    <a class="socail-text" href="#">DB.</a>
                    <a class="socail-text" href="#">YK.</a>
                    <a class="socail-text" href="#">AJ.</a>
                    <a class="socail-text" href="#"></a>
                </div>
            </div>

            <!-- Right Part Sidebar -->
            <div class="menu-right-part">      
                <div class="header-logo">
                    <a href="index.html">
                        <img src="/images/logo.png" alt="Anotte">
                    </a>               
                </div>

                <div class="toggle-holder">
                    <div id="toggle">
                        <div class="menu-line"></div>
                    </div>                
                </div>   

            </div> 

            <!-- Page Content Holder -->
            <div id="content" class="site-content">
                <div class="content-right">      
                    <div class="page-split-left">
                        <p class="title-description-up">About</p>
                        <h1 class="entry-title big-text">
                            KeyVaultx<br>
                            
                        </h1>
                        <p>
                            KeyVaultX are used to securely store and manage
                            keys for various applications, such as for buildings,
                            vehicles, or storage units. They are designed to
                            provide quick and convenient access to keys and
                            track them while maintaining security. KeyVaultX
                            allows for secure key management by only allowing
                            authorized personnel to access the keys.
                        </p>
                        <br>
                        <p>
                            By
                            KeyVaultX, keys can be quickly accessed and tracked
                            without having to go through the hassle of searching
                            for them or waiting for someone to unlock them.                        </p>
                        <p>
                            <img class="img-right" src="images/about_img.jpg" alt="" />
                        </p>
                        <p class="my-info">
                            <span></span>
                            <br>
                            <span></span>
                            <br>
                            <span></span>
                        </p>
                        <a class="socail-text" href="#">DB.</a>
                        <a class="socail-text" href="#">YK.</a>
                        <a class="socail-text" href="#">AJ.</a>
                        <a class="socail-text" href="#"></a>
                    </div>

                    <div class="page-split-right" data-background="images/about_img.jpg">
                        <img class="split-image" src="/images/about_img.jpg" alt="" />
                    </div>

                </div>
                <div class="clear"></div>
            </div> 
            <!-- End Page Content Holder -->            
        </div>

        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			
        <script src='js/jquery.smartmenus.min.js'></script>                                 
        <script src='js/jquery.prettyPhoto.js'></script>                                    
        <script src="js/jquery.sticky-kit.min.js"></script>			                                       
        <script src='js/imagesloaded.pkgd.js'></script>                
        <script src='js/jquery.fitvids.js'></script>                
        <script src='js/tipper.js'></script>                
        <script src='js/swiper.min.js'></script>                        
        <script src='js/main.js'></script>
    </body>
</html>