<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <title>KeyVaultx</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Template by CocoBasic" />
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
    <meta name="author" content="CocoBasic" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link
        href='http://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800%7CPlayfair%20Display:700%7CPT%20Serif:400i'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href='/css/index.css' />
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        } 
    </style>
    <!--[if lt IE 9]>
                <script src="js/html5shiv.js"></script>            
                <script src="js/respond.min.js"></script>                   
        <![endif]-->
</head>

<body class="page-template-default">

    <div class="site-wrapper">
        <div class="doc-loader"></div>

        <!-- Left Part Sidebar -->
        <div class="menu-left-part">

            <nav id="header-main-menu">
                <ul class="main-menu sm sm-clean">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/team" class="has-submenu">Our Team</a>

                    </li>
                    <li>
                        <a href="/features">Features</a>
                    </li>
                    <li>
                        <a href="/login">Sign In/Up</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>

            </nav>

            <div class="menu-right-text">
                <p class="menu-text-title">Introducing</p>
                <div class="menu-text">
                    KEYVAULTX<br> Lock down your <a href="blog.html">keys</a> with our <a
                        href="contact.html">KeyVaultx</a>
                </div>
                <br>
                <br>
                <a class="socail-text" href="#">DB.</a>
                <a class="socail-text" href="#">YK.</a>
                <a class="socail-text" href="#">AJ.</a>
                <a class="socail-text" href="#"></a>
            </div>
        </div>

        <!-- Right Part Sidebar -->
        <div class="menu-right-part">
            <div class="header-logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="Anotte">
                </a>
            </div>

            <div class="toggle-holder">
                <div id="toggle">
                    <div class="menu-line"></div>
                </div>
            </div>

        </div>

        <!-- Page Content Holder -->
        <div id="content" class="site-content">
            <div class="content-right">
                <div class="content-right-holder center-relative content-1170">
                    <p class="title-description-up">Hii there !!</p>
                    <h1 class="entry-title small-text">How can we help you?</h1>


                    <div class="one_half">
                        <p>
                            Please post your inquiry about us.<br>
                            Send us a message, and we will get back to you at our earliest.<br>
                            Call on the number below or message us.

                        </p>
                        <br>
                        <p class="my-info">
                            <span>Address:</span> Christ University, Bangalore <br>
                            <span>Phone:</span> 6362793751, 9108084539 <br>
                            <span>Hours:</span> 9:00 am – 4:00 pm
                        </p>
                        <br>
                        <a class="socail-text" href="#">DB.</a>
                        <a class="socail-text" href="#">YK.</a>
                        <a class="socail-text" href="#">AJ.</a>
                        <a class="socail-text" href="#"></a>
                    </div>
                    <script>
                        function validateform() {
                            var name = document.myform.name.value;
                            if (name == null || name == "") {
                                alert("Name can't be blank");
                                return false;
                            }
                            else if (isNaN(regno)) {
                                document.getElementById("numloc").innerHTML = "Enter Numeric value only";
                                return false;
                            }
                            else {
                                return true;
                            }
                        }
                    </script>
                    <div class="one_half last cfh">
                        <div class="contact-form">

                            <form name="myform" method="POST" class="contact-form" onsubmit="return validateform()">
                                <p>
                                    <input id="regno" type="number" name="regno" placeholder="Registration Number"
                                        minlength="7" maxlength="7" min="2200000" max="2299999">
                                </p>
                                <p>
                                    <input id="name" type="text" name="name" placeholder="Name">
                                </p>
                                <p>
                                    <input id="contact-email" type="email" name="email" placeholder="Email">
                                </p>

                                <p>
                                    <textarea id="message" name="message" placeholder="Message"></textarea>
                                </p>

                                <p class="contact-submit-holder">
                                    <input type="submit" value="SEND">
                                </p>
                            </form>
                            <div>
                                {{message}}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- End Page Content Holder -->
    </div>

    <!--Load JavaScript-->
    <script src="js/jquery.js"></script>
    <script src='js/jquery.smartmenus.min.js'></script>
    <script src='js/jquery.prettyPhoto.js'></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src='js/imagesloaded.pkgd.js'></script>
    <script src='js/jquery.fitvids.js'></script>
    <script src='js/tipper.js'></script>
    <script src='js/swiper.min.js'></script>
    <script src='js/main.js'></script>
    <script>
    </script>
</body>

</html>