<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>KeyVaultx: Safe Box, Secure Keys</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Template by CocoBasic" />
        <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
        <meta name="author" content="CocoBasic" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="shortcut icon" href="https://keyvaultximages.s3.amazonaws.com/images/favicon.png" />    
        <link href='http://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800%7CPlayfair%20Display:700%7CPT%20Serif:400i' rel='stylesheet' type='text/css'>		
        <link rel="stylesheet" type="text/css"  href='/css/index.css' />
        
    </head>

    <body class="page-template-carousel">

        <div class="site-wrapper">                  
            <div class="doc-loader"></div>  

            <!-- Left Part Sidebar -->
            <div class="menu-left-part">               

                <nav id="header-main-menu">
                    <ul class="main-menu sm sm-clean">
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/team" class="has-submenu">Our Team</a>
                            
                        </li>
                        <li>
                            <a href="/features">Features</a>
                        </li>
                        <li>
                            <a href="/login">Sign In/Up</a>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                    
                </nav>       

                <div class="menu-right-text">
                    <p class="menu-text-title">Introducing</p>
                    <div class="menu-text">
                        KEYVAULTX<br> Lock down your <a href="/about">keys</a> with our <a href="/contact">KeyVaultx</a>
                    </div>
                    <br>
                    
                    <a class="socail-text" href="#">DB.</a>
                    <a class="socail-text" href="#">YK.</a>
                    <a class="socail-text" href="#">AJ.</a>
                    <a class="socail-text" href="#"></a>
                </div>
            </div>

            <!-- Right Part Sidebar -->
            <div class="menu-right-part">      
                <div class="header-logo">
                    <a href="/home">
                        <img src="https://keyvaultximages.s3.amazonaws.com/images/logo.png" alt="Anotte">
                    </a>               
                </div>

                <div class="toggle-holder">
                    <div id="toggle">
                        <div class="menu-line"></div>
                    </div>                
                </div>   

            </div> 

            <!-- Page Content Holder -->
            <div id="content" class="site-content">
                <div class="content-right">      
                    <div class="horizontal-slider image-slider-wrapper relative">
                        <div class="swiper-wrapper image-slider slider">

                            <div class="swiper-slide text-slide">
                                <div class="carousel-item-text">
                                    <p class="title-description-up">Introducing</p>
                                    <h1 class="entry-title big-text">KeyVaultx</h1>
                                    <div class="carousel-content">
                                        Lock down your keys with our KeyVaultx.<br>Swipe right to know about KeyVaultx 
                                    </div>                                        
                                </div>                                    
                            </div>

                            <div class="swiper-slide">
                                <div class="carousel-item-image">
                                    <a href="portfolio-1.html" class="img-thumb">
                                        <img src="https://keyvaultximages.s3.amazonaws.com/images/image_01.jpg" alt="" >
                                    </a>
                                    <div class="carousel-item-info">
                                        <div class="carousel-cat-links">
                                            <!--<ul>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                            </ul>-->
                                        </div>
                                        <h2>
                                            <a href="portfolio-1.html">Key Management</a>
                                        </h2>
                                    </div>
                                    <p class="post-num">
                                        <span>01</span>
                                        <span class="total-num">05</span>
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="carousel-item-image">
                                    <a href="portfolio-2.html" class="img-thumb">
                                        <img src="https://keyvaultximages.s3.amazonaws.com/images/image_02.jpg" alt="" >
                                    </a>
                                    <div class="carousel-item-info">
                                        <div class="carousel-cat-links">
                                            <!--<ul>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                            </ul>-->
                                        </div>
                                        <h2>
                                            <a href="portfolio-2.html">Box Functionality</a>
                                        </h2>
                                    </div>
                                    <p class="post-num">
                                        <span>02</span>
                                        <span class="total-num">05</span>
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="carousel-item-image">
                                    <a href="portfolio-3.html" class="img-thumb">
                                        <img src="https://keyvaultximages.s3.amazonaws.com/images/image_03.jpg" alt="" >
                                    </a>
                                    <div class="carousel-item-info">
                                        <div class="carousel-cat-links">
                                           <!-- <ul>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                            </ul> -->
                                        </div>
                                        <h2>
                                            <a href="portfolio-3.html">User Management</a>
                                        </h2>
                                    </div>
                                    <p class="post-num">
                                        <span>03</span>
                                        <span class="total-num">05</span>
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="carousel-item-image">
                                    <a href="portfolio-1.html" class="img-thumb">
                                        <img src="https://keyvaultximages.s3.amazonaws.com/images/image_04.jpg" alt="" >
                                    </a>
                                    <div class="carousel-item-info">
                                        <div class="carousel-cat-links">
                                         <!--   <ul>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                            </ul>-->
                                        </div>
                                        <h2>
                                            <a href="portfolio-1.html">Key Tracking</a>
                                        </h2>
                                    </div>
                                    <p class="post-num">
                                        <span>04</span>
                                        <span class="total-num">05</span>
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="carousel-item-image">
                                    <a href="portfolio-2.html" class="img-thumb">
                                        <img src="https://keyvaultximages.s3.amazonaws.com/images/image_05.jpg" alt="" >
                                    </a>
                                    <div class="carousel-item-info">
                                        <div class="carousel-cat-links">
                                         <!--  <ul>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                                <li class="portfolio-category">
                                                    <a href="#"></a>
                                                </li>
                                            </ul> --> 
                                        </div>
                                        <h2>
                                            <a href="portfolio-2.html">Dashboard</a>
                                        </h2>
                                    </div>
                                    <p class="post-num">
                                        <span>05</span>
                                        <span class="total-num">05</span>
                                    </p>
                                </div>
                            </div>

                            <div class="swiper-slide more-posts-portfolio">
                                <div class="portfolio-slider-load-more">
                                    <span class="more-portfolio-posts">LOAD MORE</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div> <!-- End Page Content Holder -->            
        </div>

        <!--Load JavaScript-->
        <script src="js/jquery.js"></script>			
        <script src='js/jquery.smartmenus.min.js'></script>                                 
        <script src='js/jquery.prettyPhoto.js'></script>                                    
        <script src="js/jquery.sticky-kit.min.js"></script>			                                       
        <script src='js/imagesloaded.pkgd.js'></script>                
        <script src='js/jquery.fitvids.js'></script>                
        <script src='js/tipper.js'></script>                
        <script src='js/swiper.min.js'></script>                        
        <script src='js/main.js'></script>
    </body>
</html>