<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>KeyVaultX</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Template by CocoBasic" />
    <meta name="keywords" content="HTML, CSS, JavaScript, PHP" />
    <meta name="author" content="CocoBasic" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="shortcut icon" href="images/favicon.ico" />
    <link
      href="http://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800%7CPlayfair%20Display:700%7CPT%20Serif:400i"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>

  <body class="page-template-default">
    <div class="site-wrapper">
      <div class="doc-loader"></div>

      <!-- Left Part Sidebar -->
      <div class="menu-left-part">
        <nav id="header-main-menu">
          <ul class="main-menu sm sm-clean">
            <li>
              <a href="/home">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/team" class="has-submenu">Our Team</a>
            </li>
            <li>
              <a href="/features">Features</a>
            </li>
            <li>
              <a href="/login">Sign In/Up</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>

        <div class="menu-right-text">
          <p class="menu-text-title">Introducing</p>
          <div class="menu-text">
            KEYVAULTX<br />
            Lock down your <a href="blog.html">keys</a> with our 
            <a href="contact.html">KeyVaultx</a>
          </div>
          <br />
          <br />
          <a class="socail-text" href="#">DB.</a>
          <a class="socail-text" href="#">YK.</a>
          <a class="socail-text" href="#">AJ.</a>
          <a class="socail-text" href="#"></a>
        </div>
      </div>

      <!-- Right Part Sidebar -->
      <div class="menu-right-part">
        <div class="header-logo">
          <a href="index.html">
            <img src="images/logo.png" alt="Anotte" />
          </a>
        </div>

        <div class="toggle-holder">
          <div id="toggle">
            <div class="menu-line"></div>
          </div>
        </div>
      </div>

      <!-- Page Content Holder -->
      <div id="content" class="site-content">
        <div class="content-right">
          <div class="content-right-holder center-relative content-1170">
            <p class="title-description-up">Hello ! Welcome :)</p>
            <h1 class="entry-title big-text">Request<br> Now</h1>

            <div class="one_half">
              <p>
                You can request us<br />
              by entering the details.
                
              </p>
              <br />
              <p class="my-info">
                <span></span>  <br />
                <span></span> <br />
                <span></span>
              </p>
              <br />
              <a class="socail-text" href="#">DB.</a>
              <a class="socail-text" href="#">YK.</a>
              <a class="socail-text" href="#">AJ.</a>
              <a class="socail-text" href="#"></a>
            </div>

            <div class="one_half last cfh">
              <form method="POST" class="contact-form">
                <% if (message.length>0) { %>
                                    <div>
                                        <%=message %>
                                    </div>
                                    <% } %>
                                    
                <p>
                  <select name="users" id="users">
                    <option value="#" selected disabled>
                      Select the type of user you are
                    </option>
                    <option value="Faculty">Faculty</option>
                    <option value="Student">Student</option>
                  </select>
                </p>

                <p>
                  <input
                    id="regno"
                    type="number"
                    name="regno"
                    placeholder="Registration Number"
                  />
                </p>
                <p>
                  <input id="name" type="text" name="name" placeholder="Name" />
                </p>
                <p>
                  <input
                    id="name"
                    type="text"
                    name="depart"
                    placeholder="Department"
                  />
                </p>
                <p>
                  <input
                    id="name"
                    type="text"
                    name="post"
                    placeholder="Section or Post"
                  />
                </p>
                <p>
                  <input
                    id="contact-email"
                    type="email"
                    name="email"
                    placeholder="Email"
                  />
                </p>
                <p>
                  <input
                    id="contact-email"
                    type="password"
                    name="pass"
                    placeholder="Password"
                  />
                </p>
                <p>
                  <input
                    id="contact-email"
                    type="number"
                    name="phno"
                    placeholder="Phone Number"
                  />
                </p>
                <p class="contact-submit-holder">
                  <input type="submit" value="REQUEST" />
                </p>
                <p class="loginhere">
                  Click here to SignIn ?
                  <a href="/login" class="loginhere-link">Login</a>
                </p>
              </form>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <!-- End Page Content Holder -->
    </div>

    <!--Load JavaScript-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.smartmenus.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="js/imagesloaded.pkgd.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/tipper.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
